*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: lightslategray;
}
h1 {
    margin: 20px 0;
    text-align: center;
}
footer{
    padding: 20px;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
input, button {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}
.list-container {
    width: 100%;
    max-width: 400px;
    background-color:white;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
    text-align: left;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    padding: 10px;
    border-bottom: 1px solid gray;
}
li:last-child {
    border-bottom: none;
}
.highlight {
    background-color: yellow;
}